<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form action="register" method="get">
        <input name="id" placeholder="id">
        <input name="pw" placeholder="pw" type="password">
        <input name="name" placeholder="name">
        <input name="age" placeholder="age">
        <button type="submit">제출</button>
    </form>
<!--    <th:block>-->
<!--        <div th:each="item:${users}">-->
<!--            <div th:text="${item.getId()}"></div>-->
<!--            <div th:text="${item.getPw()}"></div>-->
<!--            <div th:text="${item.getName()}"></div>-->
<!--            <div th:text="${item.getAge()}"></div>-->
<!--        </div>-->
<!--    </th:block>-->
</body>
</html>