<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Password</th>
        <th>Name</th>
        <th>Age</th>
    </tr>
    </thead>
    <tbody>
    <th:block th:each="item : ${users}">
        <tr>
            <td th:text="${item.getId()}"></td>
            <td th:text="${item.getPw()}"></td>
            <td th:text="${item.getName()}"></td>
            <td th:text="${item.getAge()}"></td>
            <td>
                <button th:onclick="|location.href='@{/deleteuser(id=${item.id})}'|">delete</button>
            </td>
            <td>
                <button th:onclick="|location.href='@{/updateuser(id=${item.id})}'|">update</button>
            </td>

        </tr>
    </th:block>
    </tbody>
</table>
<div><p>login user</p>:<span th:text="${session.user}"></span></div>
</body>
</html>