body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
}

.register-form {
    background: #ffffff;
    padding: 20px 30px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}

.register-form h1 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333333;
}

.register-form input {
    width: 100%; /* 부모의 너비에 맞추기 */
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ced4da;
    border-radius: 4px;
    font-size: 14px;
    box-sizing: border-box; /* 패딩과 보더 포함 */
}

#id-check-message {
    display: block;
    min-height: 20px;
    color: red;
    text-align: right;
}

.register-form button {
    width: 100%;
    padding: 10px;
    background-color: #ff6767;
    border: none;
    border-radius: 4px;
    color: white;
    font-size: 16px;
    cursor: pointer;
}
