<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="UTF-8">
    <title>Title</title>
    <script src="/js/MyPage.js" defer></script>
    <style>
        .table {
            display: flex;
            flex-direction: column;
            width: 100%;
        }

        .row {
            display: flex;
            justify-content: space-between;
            padding: 8px;
            border: 1px solid #ccc;
        }

        .row-header {
            font-weight: bold;
            background-color: #f0f0f0;
        }

        .cell {
            padding: 5px;
        }
    </style>
</head>

<body>
<div class="table">
    <!-- Table headers -->
    <div class="row row-header">
        <div class="cell">ID</div>
        <div class="cell">PW</div>
        <div class="cell">Name</div>
        <div class="cell">Age</div>
    </div>

    <!-- Data rows, iterated by Thymeleaf -->
    <form action="/update">


        <div class="row">
            <div id="id"  class="cell" ><input id="id1" name="id" type="text" readonly th:value="${accountInfo.id}" ></div>
            <div id="pw"  class="cell" ><input name="pw"  type="text" readonly th:value="${accountInfo.pw}"></div>
            <div id="name"  class="cell" ><input name="name"  type="text" readonly th:value="${accountInfo.name}"></div>
            <div id="age"  class="cell" ><input name="age"  type="text" readonly th:value="${accountInfo.age}"></div>

        </div>


        <button>Update Info</button>
    </form>

</div>
<img id="uploadedImage" src="/images/profile.png" alt="Uploaded Image" style="max-width: 300px;">
<form id="uploadForm" action="/upload" method="post" enctype="multipart/form-data">
    <input type="file" name="file" id="file">
    <button type="submit">Upload my profile image</button>
</form>


<button onclick="deleteAccount(id)">Delete Account</button>
<button onclick="location.href='/'">Go to Home</button>
</body>
</html>
