<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="UTF-8">
    <title>Title</title>
    <script src="/static/js" defer></script>
    <style>
        .table {
            display: flex;
            flex-direction: column;
            width: 100%;
        }

        .row {
            display: flex;
            justify-content: space-between;
            padding: 8px;
            border: 1px solid #ccc;
        }

        .row-header {
            font-weight: bold;
            background-color: #f0f0f0;
        }

        .cell {
            padding: 5px;
        }
    </style>
</head>

<body>
<div class="table">
    <!-- Table headers -->
    <div class="row row-header">
        <div class="cell">ID</div>
        <div class="cell">PW</div>
        <div class="cell">Name</div>
        <div class="cell">Age</div>
    </div>

    <!-- Data rows, iterated by Thymeleaf -->
    <form action="/updateInfo">


        <div class="row">
            <div id="id"  class="cell" ><input name="id" type="text" readonly th:value="${accountInfo.id}" ></div>
            <div id="pw"  class="cell" ><input name="pw" th:value="${accountInfo.pw}"></div>
            <div id="name"  class="cell" ><input name="name" th:value="${accountInfo.name}"></div>
            <div id="age"  class="cell" ><input name="age" th:value="${accountInfo.age}"></div>

        </div>

        <button>Update Info</button>
    </form>

</div>


<button onclick="location.href='/mypage'">Go Back to My Page</button>
</body>
</html>
